.Nav{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: center;
}
.Nav::-webkit-scrollbar{
    display: none;
}
.Nav h2{
    margin: 20px;
    font-size: 15px;
    color: white;
    opacity: 0.6;
    transition: transform 100ms ease-out;
}
.Nav h2:hover{
    opacity: 1;
    transform: scale(1.3);
    cursor: pointer;
}